
body {
    font-family: Helvetica, Arial, sans
}

tr {
    border: 1px solid #999;
}

td:first-child {
    background-color: #ffffbb;
}

td {
    background-color: #ffffdd;
    vertical-align: top;
    padding: 7px;
}

td tr td {
    background-color: #f7f7d6;
}

a {
    color: #009;
    text-decoration: none;
}

h2, h3 {
    margin: 0px;
}

p {
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

div.object-head {
    background-color: #ffffdd;
    border: 1px solid #555555;
    margin: 8px;
    padding: 18px;
}

div.vcard {
    background-color: #eeeeff;
    border: 1px solid #555555;
    margin: 8px;
    padding: 18px;
}

div.vevent{
    background-color: #ffffcc;
    border: 1px solid #555555;
    margin: 8px;
    padding: 18px;
}

p.description, div.adr {
    border-bottom: 1px solid #AA7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

li {
    list-style-type: none;
    border: 1px solid #aaa;
    padding: 5px 5px 5px 15px;
}
