
body {
    font-family: Helvetica, Arial, sans
}

div {
    margin: 0px;
    padding: 0px;
}

table {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

table.json{
    width: 100%;
}

span.object-title{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    border: 1px solid red;
}

td:first-child {
    background-color: #fafafa;
    width: 15%;
}

td {
    background-color: #ffffff;
    vertical-align: top;
    padding: 7px;
}

a {
    color: #009;
    text-decoration: none;
}

h2, h3 {
    margin: 8px 0px 3px 0px;
}

ul {
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

p {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

p.list{
    margin: 10px 0px 0px 0px;
}

div.list div.list p.list{
    margin: 10px 0px 0px 10px;
}

div.object-head {
    border-radius: 5px 5px 0px 0px;
    background-color: #fafafa;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 8px 0px 0px 0px;
    padding: 4px 12px;
}

div.object-head.open{
    border-bottom: none;
}

.object-head a {
    float: right;
    margin-left: 8px;
}

div.vcard, div.vevent {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 0px 0px 10px 0px;
    padding: 0px 12px 7px 12px;
}

div.vcard {
    background-color: #eeeeff;
}

div.vevent{
    background-color: #ffffcc;
}

div.info-item {
    margin: 2px 0px 0px 0px;
}

div span.dtstart, div span.dtend {
    margin-left: 10px;
}

p.description, div.adr {
    border-top: 1px solid #AA7;
    border-bottom: 1px solid #AA7;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
